<div class="comments-container">
    <h2 class="dairy-title-medium">Comments
        <span ng-if="$ctrl.isAnyItemSelected()">
            #{{$ctrl.number}}
        </span>
    </h2>
    <app-comment ng-repeat="comment in $ctrl.currentComments"
                 comment="comment"></app-comment>
    <div class="post-comment-container" ng-if="$ctrl.isAnyItemSelected()">
        <div class="post-picture"></div>
        <textarea ctrl-enter-submit="$ctrl.addComment()"
                  ng-model="$ctrl.commentText" cols="30"
                  rows="10" class="post-text"></textarea>
    </div>
</div>